<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="/static/css/goodcart.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.0.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
{#    <script type="text/javascript" src="/static/js/goodcart.js"></script>#}
    <script type="text/javascript" src="/static/js/cart.js"></script>
</head>
<body>
    <div class="header">
        <div class="center">
            <div class="siteNav">
                <div class="siteNavCityChoose">
                    <span class="title">我在深圳</span>
                </div>
                <div class="siteNavLogin">
                    您好{{ name }}，欢迎来e万家
                      {% if name %}
                     <li><a href="{% url 'huarun:logout' %}">注销</a></li>
                    {% endif %}
                    <a href="{% url 'huarun:login' %}">登录</a><a href="{% url 'huarun:register' %}">注册</a>
                </div>
                <div class="siteNavEntry">
                    <a href="">收藏夹</a>
                    <a href="">我的订单</a>
                </div>
            </div>
            <div class="headerBody">
                <a href="index.html" class="headerLogo"></a>
                <ul class="headerShoppingStep">
                    <li class="active">
                        <div class="line"></div>
                        <div class="radius">1</div>
                        <span class="title">购物车</span>
                    </li>
                    <li>
                        <div class="line"></div>
                        <div class="radius">2</div>
                        <span class="title">确认订单信息</span>
                    </li>
                    <li>
                        <div class="line"></div>
                        <div class="radius">3</div>
                        <span class="title">提交订单</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="backededed">
        <div class="mani_cat_but">
            <span class="title">购物车</span>
            <a class="but" href="{% url 'huarun:home' %}">继续购物 &gt;</a>
        </div>
        <div class="datles_table">
            <div class="delivery">
                <span class="totalAmount">全部商品<span>1</span>件</span>
            </div>
        </div>
        <div class="th">
            <div class="ld1 ldx">
                <div class="checkbox enableSelect ">
                    <i></i>
                </div>全选&nbsp;
            </div>
            <div class="ld2 ldx">
                商品
            </div>
            <div class="ld3 ldx">
                规格属性
            </div>
            <div class="ld4 ldx">
                单价(元)
            </div>
            <div class="ld6 ldx">
                数量
            </div>
            <div class="ld7 ldx">
                商品小计(元)
            </div>
            <div class="ld8 ldx">
                操作
            </div>
        </div>
        <ul class="ll">
            <div class="merchantHeader">
                <div class="checkbox active">
                    <i></i>
                </div>
                <span class="merchantName">深圳保税仓</span>
                    <span class="payPrice">
                    <span>0</span>
                </span>
            </div>
            {% for cart in carts %}
             <li class="active" id="goods">
                <div class="ld1 ld">
                        <div class="warper" cartid="{{ cart.id }}" isselect="{{ cart.isselect }}">
                            {% if cart.isselect %}
                             <div class="checkbox enableSelect active">
                        <input type="hidden">
                        <i></i>
                         </div>
                                {% else %}
                                       <div class="checkbox enableSelect">
                        <input type="hidden">
                        <i></i>
                         </div>
                            {% endif %}

                    </div>

{#                         <div class="checkbox enableSelect ">#}
{#                        <input type="hidden">#}
{#                        <i></i>#}
{#                    </div>#}


                    <div class="img_view">
                        <img src="{{ cart.goods.smallimg1 }}">
                    </div>
                </div>
                <div class="ld2 ld">
                    <a>{{ cart.goods.name }}</a>
                </div>
                <div class="ld3 ld">
                    <span data-bind="text:attrsString"></span>
                </div>
                <div class="ld4 ld"  id='ld4' price="{{ cart.goods.price }}">{{ cart.goods.price }}</div>
                <div class="ld6 ld">
                    <span class="midde">
                        <a class="less" goodsid="{{ cart.goods.id }}"></a>
                        <input class="quantity_txt" value="{{ cart.number }}">
                        <a class="add" goodsid="{{ cart.goods.id }}"></a>
                        <br>
                        <span class="canDelivery"></span>
                    </span>
                </div>
                <div class="ld7 ld">

                    <span class="font18" data-bind="text:'¥'+totalPayPrice()">
                        {{ cart.price }}
                    </span>
                </div>
                <div class="ld8 ld">
                    <span class="midde">
                        <a href=""  class='sha' goodsid="{{ cart.goods.id }}">删除</a>
                    </span>
                </div>
            </li>
            {% endfor %}


        </ul>
        <div class="jiesuan">
            <div class="float_l">
                <div class="all" isselect="false">
                <div class="checkbox enableSelect ">
                    <i></i>
                </div>
                    </div>
                <span class="f14" style="margin-right: 36px;">全选</span>
                <span class="bd">已经选中<b class="selectNumber fb000a f18">0</b>件商品</span>
                <span class="bd2">总重量<b data-bind="text:checkedTotalWeight">0.00</b>kg</span>
                <p>
                    <a href="" id="delAll">清空购物车</a>
                    <!--<a href="" id="dels">删除</a>-->
                </p>
            </div>
            <div class="float_r">
                <div class="quantity">
                    <p>
                        <span>合计（不含运费）：</span>
                        ¥<em class="price fb000a f18">0.00</em>
                    </p>
                </div>
                <a class="pay">结算</a>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="web_map_My">
            <a href="">
                关于我们
            </a>｜
            <a href="">
                联系我们
            </a>｜
            <a href="">
                触屏版
            </a>
            <span class="copyright">
                Copyright@华润万家有限公司  粤ICP备05036369号-4   ewj.com 版权所有
            </span>
        </div>
    </div>
</body>
</html>