{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.0.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/login_input.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_center">
            <img src="/static/images/4312385.png" alt="">
            <div class="header_center_r">
                <div>
                    您好，欢迎您来到华润e万家！
                    <span>|</span>
                    <a href="">帮助中心</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body_center">
        <div class="body_center_h">
            <h1>用户登入</h1>
            <a href="{% url 'huarun:register' %}">新用户注册</a>
        </div>
        <div class="login_body">
            <a href="" class="img_a"><img src="/static/images/15401900.jpg" alt=""></a>
            <div class="login_body_r">
                <form action="{% url 'huarun:login' %}" method="post" >
                      {% csrf_token %}
                    <p>
                        <label>登录名：</label>
                        <input placeholder="邮箱/用户名/已验证手机" class="input" id="username" name="username1">
                        <span class="reg_span">{{ msg }}</span>
                    </p>
                    <p>
                        <label>密码：</label>
                        <input type="password" placeholder="请输入您的密码" class="input" id="password" name="password1">
                        <span class="reg_span"></span>
                    </p>
                    <p>
                        <label>验证码：</label>
                        <input  placeholder="请填写验证码" class="text_input" id="text" >
                        <span class="text_input_span"></span>
                        <a href="" class="text_input_a">看不清，换一张？ </a>
                        <span class="reg_span"></span>
                    </p>
                    <p class="checkbox_p">
                        <span class="checkbox">
                            <input  type="hidden" value="false">
                            <i></i>
                        </span>
                        自动登录
                        <a href="">忘记密码</a>
                    </p>
                    <p class="button">
                        <button type="submit" id="submit">登录</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot_center">
            <a href="">关于我们</a>
            |
            <a href="">联系我们</a>
            |
            <a href="">触屏版</a>
            <span>Copyright@华润万家有限公司  粤ICP备05036369号-4   ewj.com 版权所有</span>
        </div>
    </div>
</body>
</html>